/** UTILERIAS **/
borde_t = 1px solid #D7D7D7
.mt
	margin-top 2em
.mt-
	margin-top .5em
.mr
	margin-right 1em
.pl
	padding-left 5em
.pr
	padding-right 5em
.mb
	margin-bottom 2em 
.black
	color black
.h100
	height 85vh
.h50
	height 80%
.scroll
	overflow auto
	background #4e5d6c
/***************/
.sidebar
	margin-bottom 0 !important
	z-index 1000 !important
.modal-dialog
	z-index 8000 !important
.dropdown-menu li a:hover
	color black
.main-bar
	background white
	border-bottom 6px solid #E9E7E7
	color black
	padding .5em 0 
	p
		line-height 10px		
	.user_loggedin
		color #E14130
.main-bar__p
	margin-left 5em
.main-container
	background #F5F5F5
	padding 1em 0
.item-product
	border-top 1px solid #D9D7D7
	&:first-child
		border-top none
.app-table td
	background #E31106
	display inline-block
	font-size 16px
	margin-left 15px		
	margin-top 10px		
	text-align center
.btn-primary:hover
	background #265a88 !important
.config-title
	border-bottom 1px solid black
	color black !important
	padding-bottom 10px
.table-config
	background white
	border borde_t
	thead tr th
		background #858585
		border borde_t
		color white
		font-size 15px
	tbody tr
		td
			border borde_t
			padding 8px 0
		&:hover
			background #F0EFEF
.btn-genre.active
	background #1D500F !important
.btn-numbers.active
	background #B60101 !important
.btn-numbers
	margin-left 5px !important
.box-text
	margin-top 5px
	font-size 16px
	padding-bottom 8px	
	border-bottom 1px dotted #A0A0A0
.panel-sell
	background #6DF5D0
	padding 10px 5px
	width 90%
	margin-left 5%
	overflow hidden
.item-panel
	border-top borde_t
	&:first-child
		border-top none
.total-panel
	height 19%
	background #4e5d6c
.amount-total
	margin-right 10%
	margin-top 1.5em
	font-size 25px
.amount-total-red
	color #FD5050
	margin-left 2em
/* MEDIA QUERYS */
@media(max-width 770px)
	.main-bar
		margin-top 2.6em
	.pl
		padding-left 1em